
.links-container{
    max-width: 1120px;
    margin: 32px auto 0 auto;
    background-color: #222;
}

.links-header{
    display: flex;
    flex-direction: row;
}
s
.links-header svg{
    margin-right: 14px;
}